<div class="column-layout group">
  <img src="/assets/blacklinebox.png" class="image" />
  <img src="/assets/placeholder.png" class="image_1" />
  <img src="/assets/blacklinebox.png" class="image_2" />
  <img src="/assets/blacklinebox.png" class="image_3" />
  <h5 class="h5">
    [Geotag Info]
  </h5>
  <h2 class="h2">
    [Location Name]
  </h2>
  <h4 class="h4">
    Landscape
  </h4>
  <h4 class="h4_1">
    Vegetation
  </h4>
  <h6 class="h6">
    Position
  </h6>
  <h4 class="h4_2">
    Flora
  </h4>
  <img src="/assets/icone-trait-noir2.png" class="image_4" />
  <h6 class="h6_1">
    Type
  </h6>
  <h6 class="h6_2">
    Hilly/Mountainous
  </h6>
  <h6 class="h6_3">
    Stage
  </h6>
  <h6 class="h6_4">
    Rainforest
  </h6>
  <h6 class="h6_5">
    Steady
  </h6>
  <h6 class="h6_6">
    Burn Severity
  </h6>
  <h6 class="h6_7">
    Ground Layer
  </h6>
  <button igxButton="raised" igxRipple routerLink="/picture-grid" class="button">
    Upload
  </button>
  <h6 class="h6_8">
    Rainforest
  </h6>
  <button igxButton="raised" [disabled]="true" igxRipple class="button_1">
    Store
  </button>
  <img src="/assets/blacklinebox.png" class="image_5" />
  <img src="/assets/blacklinebox.png" class="image_6" />
  <h6 class="h6_9">
    Unburnt
  </h6>
  <h6 class="h6_10">
    Shrub Layer
  </h6>
  <h6 class="h6_11">
    Low
  </h6>
  <img src="/assets/blacklinebox.png" class="image_7" />
  <h6 class="h6_12">
    Unburnt
  </h6>
</div>
