<div class="column-layout group">
  <h5 class="h5">
    Forest Health Project Picture Uploads
  </h5>
  <img src="/assets/FHP.PNG" class="image" />
  <img src="/assets/placeholder.png" [igxToggleAction]="dropdown" class="image_1" />
  <img src="/assets/placeholder.png" [igxToggleAction]="dropdown1" class="image_2" />
  <igx-drop-down #dropdown1 class="dropdown">
    <igx-drop-down-item>
      View Picture Details
    </igx-drop-down-item>
  </igx-drop-down>
  <igx-drop-down #dropdown class="dropdown">
    <igx-drop-down-item>
      View Picture Details
    </igx-drop-down-item>
  </igx-drop-down>
  <button igxButton="fab" igxRipple routerLink="/new-picture" class="button">
    <igx-icon>
      add_to_photos
    </igx-icon>
    <span>Upload New Picture</span>
  </button>
  <button igxButton="fab" igxRipple class="button_1">
    <igx-icon>
      settings
    </igx-icon>
  </button>
  <img src="/assets/icone-trait-noir.png" class="image_3" />
</div>
<img src="/assets/cropmark.PNG" class="image_4" />
<img src="/assets/cropmark2.PNG" class="image_5" />
<img src="/assets/cropmark4.PNG" class="image_6" />
<img src="/assets/cropmark3.PNG" class="image_7" />
<img src="/assets/placeholder.png" [igxToggleAction]="dropdown2" class="image_8" />
<igx-drop-down #dropdown2 class="dropdown">
  <igx-drop-down-item>
    View Picture Details
  </igx-drop-down-item>
</igx-drop-down>
<img src="/assets/placeholder.png" [igxToggleAction]="dropdown3" class="image_9" />
<igx-drop-down #dropdown3 class="dropdown">
  <igx-drop-down-item>
    View Picture Details
  </igx-drop-down-item>
</igx-drop-down>
<img src="/assets/placeholder.png" [igxToggleAction]="dropdown4" class="image_10" />
<igx-drop-down #dropdown4 class="dropdown">
  <igx-drop-down-item>
    View Picture Details
  </igx-drop-down-item>
</igx-drop-down>
<img src="/assets/placeholder.png" [igxToggleAction]="dropdown5" class="image_11" />
<igx-drop-down #dropdown5 class="dropdown">
  <igx-drop-down-item>
    View Picture Details
  </igx-drop-down-item>
</igx-drop-down>
<img src="/assets/placeholder.png" [igxToggleAction]="dropdown6" class="image_12" />
<igx-drop-down #dropdown6 class="dropdown">
  <igx-drop-down-item>
    View Picture Details
  </igx-drop-down-item>
</igx-drop-down>
<img src="/assets/placeholder.png" [igxToggleAction]="dropdown7" class="image_13" />
<igx-drop-down #dropdown7 class="dropdown">
  <igx-drop-down-item>
    View Picture Details
  </igx-drop-down-item>
</igx-drop-down>
<img src="/assets/placeholder.png" [igxToggleAction]="dropdown8" class="image_14" />
<igx-drop-down #dropdown8 class="dropdown">
  <igx-drop-down-item>
    View Picture Details
  </igx-drop-down-item>
</igx-drop-down>
