<div class="column-layout group">
  <img src="/assets/blacklinebox.png" class="image" />
  <img src="/assets/placeholder.png" class="image_1" />
  <img src="/assets/blacklinebox.png" class="image_2" />
  <img src="/assets/blacklinebox.png" class="image_3" />
  <h4 class="h4">
    Landscape
  </h4>
  <h4 class="h4_1">
    Vegetation
  </h4>
  <h6 class="h6">
    Position
  </h6>
  <h4 class="h4_2">
    Flora
  </h4>
  <img src="/assets/icone-trait-noir2.png" class="image_4" />
  <h6 class="h6_1">
    Type
  </h6>
  <h6 class="h6_2">
    Stage
  </h6>
  <h6 class="h6_3">
    Burn Severity
  </h6>
  <h6 class="h6_4">
    Ground Layer
  </h6>
  <button igxButton="raised" igxRipple routerLink="/picture-grid" class="button">
    Upload
  </button>
  <h6 class="h6_5">
    Rainforest
  </h6>
  <button igxButton="raised" igxRipple routerLink="/picture-grid" class="button_1">
    Upload Image
  </button>
  <button igxButton="raised" [disabled]="true" igxRipple class="button_2">
    Store
  </button>
  <img src="/assets/blacklinebox.png" class="image_5" />
  <img src="/assets/blacklinebox.png" class="image_6" />
  <h6 class="h6_6">
    Shrub Layer
  </h6>
  <img src="/assets/blacklinebox.png" class="image_7" />
  <igx-select type="border" class="select">
    <igx-select-item value="Option">
      Flat/Underlying
    </igx-select-item>
    <igx-select-item value="Option">
      Hilly/Mountainous
    </igx-select-item>
    <igx-select-item value="Option">
      Open
    </igx-select-item>
    <igx-select-item value="Option">
      Thick
    </igx-select-item>
  </igx-select>
  <igx-select type="border" class="select_1">
    <igx-select-item value="Option">
      Rainforest
    </igx-select-item>
    <igx-select-item value="Option">
      Eucalypt Forest
    </igx-select-item>
    <igx-select-item value="Option">
      Boreal Forest
    </igx-select-item>
    <igx-select-item value="Option">
      Temperate Forest
    </igx-select-item>
    <igx-select-item value="Option">
      Tropical Forest
    </igx-select-item>
  </igx-select>
  <igx-select type="border" class="select_2">
    <igx-select-item value="Option">
      Steady
    </igx-select-item>
    <igx-select-item value="Option">
      Stabilised
    </igx-select-item>
    <igx-select-item value="Option">
      Being Damaged
    </igx-select-item>
    <igx-select-item value="Option">
      Destroyed
    </igx-select-item>
    <igx-select-item value="Option">
      Regrowth
    </igx-select-item>
  </igx-select>
  <igx-select type="border" class="select_3">
    <igx-select-item value="Option">
      N/A
    </igx-select-item>
    <igx-select-item value="Option">
      Low
    </igx-select-item>
    <igx-select-item value="Option">
      Medium
    </igx-select-item>
    <igx-select-item value="Option">
      High
    </igx-select-item>
    <igx-select-item value="Option">
      Severe
    </igx-select-item>
  </igx-select>
  <igx-select type="border" class="select_4">
    <igx-select-item value="Option">
      Unburnt
    </igx-select-item>
    <igx-select-item value="Option">
      Low Burnage
    </igx-select-item>
    <igx-select-item value="Option">
      Medium Burnage
    </igx-select-item>
    <igx-select-item value="Option">
      High Burnage
    </igx-select-item>
    <igx-select-item value="Option">
      Severe Burnage
    </igx-select-item>
  </igx-select>
  <igx-select type="border" class="select_5">
    <igx-select-item value="Option">
      Unburnt
    </igx-select-item>
    <igx-select-item value="Option">
      Low Burnage
    </igx-select-item>
    <igx-select-item value="Option">
      Medium Burnage
    </igx-select-item>
    <igx-select-item value="Option">
      High Burnage
    </igx-select-item>
    <igx-select-item value="Option">
      Severe Burnage
    </igx-select-item>
  </igx-select>
  <igx-input-group type="border" class="input">
    <igx-prefix>
      <igx-icon class="icon">
        map
      </igx-icon>
    </igx-prefix>
    <igx-suffix>
      <igx-icon class="icon">
        clear
      </igx-icon>
    </igx-suffix>
    <input type="text" igxInput />
    <label igxLabel>Location Name</label>
  </igx-input-group>
  <igx-input-group type="border" class="input_1">
    <igx-prefix>
      <igx-icon class="icon">
        add_location
      </igx-icon>
    </igx-prefix>
    <igx-suffix>
      <igx-icon class="icon">
        clear
      </igx-icon>
    </igx-suffix>
    <input type="text" igxInput />
    <label igxLabel>Geotag Information</label>
  </igx-input-group>
</div>
